@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

body {
  background-color: white;
  background-image: -moz-linear-gradient(white, #003d4a);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#003d4a));
  background-image: -webkit-linear-gradient(white, #003d4a);
  background-image: -o-linear-gradient(white, #003d4a);
  margin: 0 0 100px;
  /* bottom = footer height */ }
  body > header.page-header {
    border-bottom: 1px solid #003d4a; }
  body article.main {
    color: black;
    height: 100%; }
    body article.main .container {
      height: 100%; }
  body footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #c7c7c7;
    border-top: 1px solid #003d4a;
    background: #003d4a;
    padding: 20px; }

textarea {
  width: 600px!important;
  height: 150px!important; }

table td.not_that_big {
  max-width: 300px; }

/* SQL log */
.cake-sql-log {
  background: #fff;
  color: #000; }
  .cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced; }
  .cake-sql-log caption {
    color: #fff; }
  .cake-sql-log table {
    border-right: 0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%; }
  .cake-sql-log th {
    border: 0;
    border-bottom: 2px solid #555555;
    text-align: left;
    padding: 4px; }
  .cake-sql-log th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none; }
  .cake-sql-log th a.asc:after {
    content: ' ⇣'; }
  .cake-sql-log th a.desc:after {
    content: ' ⇡'; }
  .cake-sql-log table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dddddd; }
  .cake-sql-log table tr:nth-child(even) {
    background: #f9f9f9; }
  .cake-sql-log td.actions {
    text-align: center;
    white-space: nowrap; }
  .cake-sql-log table td.actions a {
    margin: 0px 6px;
    padding: 2px 5px; }

/** Tables **/
