$blue: #003d4a;
$white: #fff;
$black: #000;
$lightGray: rgb(199, 199, 199);
$footerHeight: 100px;

@mixin gradient($from, $to) {
  background-color: $white;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: "Trebuchet MS";   
}

.fix {
    margin-top: -21px;
}

.container-logo {
    margin-bottom: -2%;
}

.logo {
    width: 10%;
    min-width: 200px;
}

.partial-logo {
    background: url("../img/timao2.gif") no-repeat;
    line-height: 25px;
}

.red {
    color: red;
}

.mygroup {
    margin-bottom: 10px;
}

.hide-on-small {
    @media (max-width: 647px) {
        display: none;
    }
}

.center-on-small {
    @media (max-width: 648px) {
        text-align: center;
    }
}

.hide-on-large {
    @media (min-width: 648px) {
        display: none;
    }
}

.highlight {
    color: #002E5C;
    font-weight: bold;
}
.text-small {
    font: 11px arial;
}

.details-modal {
    @media (min-width: 800px) {
        width: 75%;
    }
    @media (max-width: 800px) {
        width: 95%;
    }

    .modal-body {
        background: url('../img/timao__.png') no-repeat center;
        background-size: contain;
    }
}

.img-question{
    margin-left: 30px;
}

.botimg {
    vertical-align: bottom;
}
#favorite {
    text-align: center;
    font: 11px arial;
}
.mainheader {
    .page-header {
        border-bottom: 1px solid #003d4a;
        h1 {
            vertical-align: bottom;
            small {
                @media (min-width: 699px) {
                    float: right;
                    margin-top: 85px;
                }
                a {
                    text-decoration: none;
                    color: gray;
                    vertical-align: bottom;
                }
            }
        }
    }
}
.inline-submit {
    margin-left: 5px;
}

body {

    @media print {
        display: none;
    }

    .logo {
        @media print {
            display: block;
        }
    }

    // background: $blue;
    // color: #fff;
    font-family: "Trebuchet MS";

    @include gradient($white, $blue);
    margin: 0 0 $footerHeight; /* bottom = footer height */

    > header.page-header {
        border-bottom: 1px solid $blue;
    }
    article {
        &.main {
            color: $black;
            height: 100%;
            .container {
                height: 100%;
            }
        }
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: $footerHeight;
        width: 100%;
        text-align: center;
        color: $lightGray;
        border-top: 1px solid $blue;
        background: $blue;
        padding: 20px;
    }
}

.action-buttons {
    text-align: center;
    width: 100%;
}

.right-answer {
    color: #3c763d;
}

.wrong-answer {
    color: #a94442;
    line-height: 20px;
    vertical-align: bottom;
}

.feedback {
    margin-right: 5px;
    margin-left: -23px;
}

.unselect,
.unselect:focus{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style:none;/*IE*/
}


.mainText {
    counter-reset: li;
    list-style-type: none;
    font-size: 17px;
    font-family: "Trebuchet MS";
    > li::before {
        content: counter(li) ')';
        font-weight: bold;
        counter-increment: li;
        margin-right: 10px;
        line-height: 0;
    }
    li {
        margin-bottom: 20px; 
    }
    ol.alternatives {
        margin-top: 10px;
        margin-left: -10px;
        font-size: 14px;
        list-style-type:  none;
        counter-reset: list;
        input {
            display: inline;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        li {
            display: inline;
        }
        > li:before {
            content: counter(list, lower-alpha) ") ";
            counter-increment: list;
            font-weight: bold;
        }
        > li::after {
            white-space: pre;
            content:'\A';
        }


    }
}


.correctAnswer {
    color: light-green;
    font-weight: bold;
}

textarea {
    width: 600px!important;
    height: 150px!important;

}

fieldset {
    &.alternatives {
        textarea {
            width: 600px!important;
            height: 60px!important;
        }
    }
}


table {
    td {
        &.not_that_big  {
            max-width: 300px;
        }
    }
}


/* SQL log */
.cake-sql-log {
    background: #fff;
    td {
        padding: 4px 8px;
        text-align: left;
        font-family: Monaco, Consolas, "Courier New", monospaced;
    }
    caption {
        color:#fff;
    }
    color: #000;
    table {
        border-right:0;
        clear: both;
        color: #333;
        margin-bottom: 10px;
        width: 100%;
    }
    th {
        border:0;
        border-bottom:2px solid #555;
        text-align: left;
        padding:4px;
    }
    th a {
        display: block;
        padding: 2px 4px;
        text-decoration: none;
    }
    th a.asc:after {
        content: ' ⇣';
    }
    th a.desc:after {
        content: ' ⇡';
    }
    table tr td {
        padding: 6px;
        text-align: left;
        vertical-align: top;
        border-bottom:1px solid #ddd;
    }
    table tr:nth-child(even) {
        background: #f9f9f9;
    }
    td.actions {
        text-align: center;
        white-space: nowrap;
    }
    table td.actions a {
        margin: 0px 6px;
        padding:2px 5px;
    }
}

.login-page {
    max-width: 330px;
    margin: 0 auto;
    .col-lg-3 {
        width: 100%;
    }
    /** Tables **/
}

