@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "Trebuchet MS"; }

.fix {
  margin-top: -21px; }

.container-logo {
  margin-bottom: -2%; }

.logo {
  width: 10%;
  min-width: 200px; }

.partial-logo {
  background: url("../img/timao2.gif") no-repeat;
  line-height: 25px; }

.red {
  color: red; }

.mygroup {
  margin-bottom: 10px; }

@media (max-width: 647px) {
  .hide-on-small {
    display: none; } }

@media (max-width: 648px) {
  .center-on-small {
    text-align: center; } }

@media (min-width: 648px) {
  .hide-on-large {
    display: none; } }

.highlight {
  color: #002E5C;
  font-weight: bold; }

.text-small {
  font: 11px arial; }

@media (min-width: 800px) {
  .details-modal {
    width: 75%; } }
@media (max-width: 800px) {
  .details-modal {
    width: 95%; } }
.details-modal .modal-body {
  background: url("../img/timao__.png") no-repeat center;
  background-size: contain; }

.img-question {
  margin-left: 30px; }

.botimg {
  vertical-align: bottom; }

#favorite {
  text-align: center;
  font: 11px arial; }

.mainheader .page-header {
  border-bottom: 1px solid #003d4a; }
  .mainheader .page-header h1 {
    vertical-align: bottom; }
    @media (min-width: 699px) {
      .mainheader .page-header h1 small {
        float: right;
        margin-top: 85px; } }
    .mainheader .page-header h1 small a {
      text-decoration: none;
      color: gray;
      vertical-align: bottom; }

.inline-submit {
  margin-left: 5px; }

body {
  font-family: "Trebuchet MS";
  background-color: white;
  background-image: -moz-linear-gradient(white, #003d4a);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#003d4a));
  background-image: -webkit-linear-gradient(white, #003d4a);
  background-image: -o-linear-gradient(white, #003d4a);
  margin: 0 0 100px;
  /* bottom = footer height */ }
  @media print {
    body {
      display: none; } }
  @media print {
    body .logo {
      display: block; } }
  body > header.page-header {
    border-bottom: 1px solid #003d4a; }
  body article.main {
    color: black;
    height: 100%; }
    body article.main .container {
      height: 100%; }
  body footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #c7c7c7;
    border-top: 1px solid #003d4a;
    background: #003d4a;
    padding: 20px; }

.action-buttons {
  text-align: center;
  width: 100%; }

.right-answer {
  color: #3c763d; }

.wrong-answer {
  color: #a94442;
  line-height: 20px;
  vertical-align: bottom; }

.feedback {
  margin-right: 5px;
  margin-left: -23px; }

.unselect,
.unselect:focus {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  /*IE*/ }

.mainText {
  counter-reset: li;
  list-style-type: none;
  font-size: 17px;
  font-family: "Trebuchet MS"; }
  .mainText > li::before {
    content: counter(li) ")";
    font-weight: bold;
    counter-increment: li;
    margin-right: 10px;
    line-height: 0; }
  .mainText li {
    margin-bottom: 20px; }
  .mainText ol.alternatives {
    margin-top: 10px;
    margin-left: -10px;
    font-size: 14px;
    list-style-type: none;
    counter-reset: list; }
    .mainText ol.alternatives input {
      display: inline;
      margin-bottom: 5px;
      margin-top: 5px; }
    .mainText ol.alternatives li {
      display: inline; }
    .mainText ol.alternatives > li:before {
      content: counter(list, lower-alpha) ") ";
      counter-increment: list;
      font-weight: bold; }
    .mainText ol.alternatives > li::after {
      white-space: pre;
      content: '\A'; }

.correctAnswer {
  color: light-green;
  font-weight: bold; }

textarea {
  width: 600px!important;
  height: 150px!important; }

fieldset.alternatives textarea {
  width: 600px!important;
  height: 60px!important; }

table td.not_that_big {
  max-width: 300px; }

/* SQL log */
.cake-sql-log {
  background: #fff;
  color: #000; }
  .cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced; }
  .cake-sql-log caption {
    color: #fff; }
  .cake-sql-log table {
    border-right: 0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%; }
  .cake-sql-log th {
    border: 0;
    border-bottom: 2px solid #555555;
    text-align: left;
    padding: 4px; }
  .cake-sql-log th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none; }
  .cake-sql-log th a.asc:after {
    content: ' ⇣'; }
  .cake-sql-log th a.desc:after {
    content: ' ⇡'; }
  .cake-sql-log table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dddddd; }
  .cake-sql-log table tr:nth-child(even) {
    background: #f9f9f9; }
  .cake-sql-log td.actions {
    text-align: center;
    white-space: nowrap; }
  .cake-sql-log table td.actions a {
    margin: 0px 6px;
    padding: 2px 5px; }

.login-page {
  max-width: 330px;
  margin: 0 auto;
  /** Tables **/ }
  .login-page .col-lg-3 {
    width: 100%; }
